<plugin name='server-mock-plugin' version='0.5' grailsVersion='1.3.7 &gt; *'>
  <author>Roman Babkin &amp; Trigve Korssjoen</author>
  <authorEmail>rbabkin10@gmail.com</authorEmail>
  <title>Static content file-server</title>
  <description>\
The Main purpose for this plugin is to emulate calls to an external API, being able to manage response status codes.
</description>
  <documentation>http://grails.org/plugin/server-mock-plugin</documentation>
  <type>ServerMockPluginGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>ServerMockPluginConfig</resource>
    <resource>ServerMockPluginUrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>com.mercadolibre.dev.MockServerController</resource>
    <resource>com.mercadolibre.dev.FileDumperService</resource>
    <resource>com.mercadolibre.dev.MockedFileService</resource>
    <resource>com.mercadolibre.dev.RestclientMockService</resource>
    <resource>com.mercadolibre.dev.MD5Helper</resource>
  </resources>
  <repositories>
    <repository name='http://snapshots.repository.codehaus.org' url='http://snapshots.repository.codehaus.org/' />
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='Codehaus' url='http://repository.codehaus.org/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='com.mercadolibre.opensource.frameworks' name='restclient' version='0.6.5' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>